<!DOCTYPE html>
<html>
 <head>
     <meta charset="UTF-8" />
    <title> Légende </title>
 </head>
<body>
   <h1> <%=name%> </h1>
   
   <img src="https://www.w3schools.com/images/w3schools_green.jpg"  height="70"  alt="Vue de Paris" /> 
       
   <figure>
   <blockquote cite="http://fr.wikipedia.org/"> Wikipédia est un projet d’encyclopédie collective établie sur Internet, universelle, multilingue et fonctionnant sur le principe du wiki.  </blockquote>
   <figcaption>Wikipedia</figcaption>
   </figure>
  </body>
</html>